* {
    font-family: 'Droid Sans', sans-serif;
}

body {
    padding: 25px;
}

section {
    width: 960px;
}

footer {
    bottom: 0;
    position: fixed;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: lightgray;
}

#leftcol {
    float: left;
    width: 480px;
}

#rightcol {
    float: right;
    width: 480px;
}
