section {
    font-family: 'Droid Sans', sans-serif;
    width: 666px;
}

footer {
    bottom: 0;
    position: fixed;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: lightgray;
}
