<header class="col-xs-12">
  <nav role="navigation">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation"><a href="{{ site.baseurl }}/index.html">Index</a></li>
      <li role="presentation"><a href="{{ site.baseurl }}/about.html">About</a></li>
      <li role="presentation"><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
      <li role="presentation"><a href="{{ site.baseurl }}/cakes.html">Cakes</a></li>
      <li role="presentation"><a href="{{ site.baseurl }}/documents.html">Documents</a></li>
      <li role="presentation"><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
      <li role="presentation"><a href="{{ site.baseurl }}/questions.html">Questions</a></li>
      <li role="presentation"><a href="{{ site.baseurl }}/resume.html">Resume</a></li>
      <li role="presentation"><a href="{{ site.baseurl }}/sitemap.html">Sitemap</a></li>
    </ul>
  </nav>
</header>
