<header class="col-xs-12">
  <nav role="navigation">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation"><a href="%/">Index</a></li>
      <li role="presentation"><a rel="author" href="%/about/">About</a></li>
      <li role="presentation"><a href="%/blog/">Blog</a></li>
      <li role="presentation"><a href="%/cakes/">Cakes</a></li>
      <li role="presentation"><a href="%/documents/">Documents</a></li>
      <li role="presentation"><a href="%/projects/">Projects</a></li>
      <li role="presentation"><a href="%/questions/">Questions</a></li>
      <li role="presentation"><a href="%/resume/">Resume</a></li>
      <li role="presentation"><a href="%/sitemap/">Sitemap</a></li>
      <li role="presentation"><a href="%/tools/">Tools</a></li>
    </ul>
  </nav>
</header>
