<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ head_title }}</title>
<meta name="description" content="{{ description }}">
<link rel="icon" type="image/x-icon" href="%/favicon.ico">
<link rel="canonical" href="{{ url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site_title }}" href="%/feed.xml">
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Person",
  "name": "Eugene Y. Q. Shen",
  "email": "eugene@eyqs.ca",
  "url": "https://eyqs.ca/",
  "sameAs": [
    "https://www.linkedin.com/in/eugeneyqshen/",
    "https://github.com/eyqs/",
    "https://stackexchange.com/users/7130990/eyqs/"
  ]
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [{
    "@type": "ListItem",
    "position": 1,
    "item": {
      "@id": "%/",
      "name": "Index"
    }
  },{
    "@type": "ListItem",
    "position": 2,
    "item": {
      "@id": "{{ url }}",
      "name": "{{ title }}"
    }
  }]
}
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117777917-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-117777917-1');
</script>
