h1 {
  font-family: sans-serif;
  text-align: center;
}

#wrapper {
  margin: 0 auto;
  max-width: 40em;
}

.banner {
  display: flex;
  justify-content: space-between;
}

.banner-activity {
  flex: 1;
}

.banner-controls {
  margin: 0 0 0 1em;
}

.banner-button {
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  line-height: 1.5em;
  border: 0.1em black solid;
  text-align: center;
}

#track {
  display: flex;
  margin: 2em 0;
}

input[type="text"] {
  margin: 0 1em 0 0;
  flex: 1;
}

#main {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  flex-basis: 3em;
  border: 0.1em black solid;
  padding: 0.2em;
}
